.UserMenu
  position: absolute
  min-width: 160px
  top: 56px
  right: 12px
  transform-origin: right top
  z-index: 8
  background: #fff
  color: rgba(0,0,0,.87)
  padding: 0

  .menuRow
    cursor: pointer
    height: 32px
    position: relative
    text-align: left
    list-style-type: none
