.Navigation
  background-color: #5DD5E6
  height: 60px
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12)

  .title
    font-family: Roboto // TODO: extract to a var
    font-style: normal
    font-weight: 500
    font-size: 20px
    line-height: 23px
    color: #FFFFFF
    position: absolute
    width: 96px
    height: 24px
    left: 80px
    top: 21px

  .links
    font-family: Roboto // TODO: extract to a var
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 23px
    color: #FFFFFF
    position: absolute
    left: 45%
    top: 21px
    display: flex
    justify-content: space-between
    width: 240px

  .linkActive
    width: 88px
    height: 41px
    background: #FCCE81 // TODO: extract to a var
    border-radius: 45px
