@import "../../variables/colors"
@import "../../variables/fonts"
@import "../../variables/sizes"

.Navigation
  background-color: $menuColor
  height: 64px
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12)
  display: flex
  justify-content: space-between

  .logoBox
    background-color: white
    width: 40px
    height: 40px
    margin: 12px 20px
    border-radius: 100%

  .titleBox
    height: inherit
    width: 200px

  .title
    font-family: $font-family
    font-style: normal
    font-weight: 500
    font-size: 20px
    line-height: 23px
    color: $linkColor
    position: absolute
    width: auto
    height: 24px
    left: 80px
    top: 21px

  .linksBox
    display: flex
    justify-content: space-between
    width: 240px

  .link
    font-family: $font-family
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 23px
    color: $linkColor
    text-align: center
    padding: 10px
    margin-top: 12px

  .linkActive
    width: 88px
    height: 41px
    background: $activeColor
    border-radius: 45px

  .buttonBox
    height: inherit
    width: 200px

  .loginButton
    font-family: $font-family
    font-style: normal
    line-height: 23px
    color: $linkColor
    font-size: 20px
    position: absolute
    padding: 10px
    top: 12px
    right: 10px

  .userProperties
    display: flex

  .userPicture
    width: 40px
    height: 40px
    position: absolute
    right: 30px
    top: 12px

  .moreButton
    position: absolute
    top: 8px
    width: 10px
    height: 40px
    right: 10px
    background-color: transparent
    border: 0
    align-items: center

  .moreButton:focus
    outline: none

  .moreIcon
    width: 4px
    height: 16px
    display: inline-block
    margin-top: 6px

  @media #{$phone}
    .linksBox,
    .moreButton,
    .userPicture,
    .loginButton
      display: none

  @media #{$tablet}
    .buttonBox
      width: 100px

