.AdoptionButton
  text-transform: uppercase
  border: 0
  font-family: Roboto, sans-serif
  font-style: normal
  font-weight: 500
  font-size: 15px
  line-height: 10px
  color: #FFFFFF
  width: 85px
  height: 35px
  background: #8FBC81
  border-radius: 22px

.AdoptionButton:hover
  background-color: #EBEBEB
