<div class="row">
  <% @ngos.each do |ngo| %>
    <div class="col-sm-6">
      <%= image_tag ngo.image.url %>
      <div class="card-block">
        <p class="card-text"><%= ngo.description %></p>
      </div>
    </div>
  <% end %>
</div>