<div class="row">
  <% @ngos.each do |ngo| %>
  <div class="card">
    <h3 class="card-header"><%= ngo.fantasy_name %></h3>
    <div class="card-body">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
    </div>
    <div class="card-body">
      <a href="#" class="card-link">Saiba mais</a>
    </div>
  </div>
  <% end %>
</div>
