<div class="jumbotron">
  <h1 class="display-4">Conheça as ONGs que fazem parte</h1>
  <p class="lead">Encontre aqui uma ONG para acompanhar suas atividades, consultar sua situação financeira e fazer doações.</p>
</div>

<div class="row">
  <% @ngos.each do |ngo| %>
    <div class="col-sm-6">
      <%= image_tag ngo.image.url %>
      <div class="card-block">
        <p class="card-text"><%= ngo.description %></p>
      </div>
    </div>
  <% end %>
</div>