<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Nova ONG</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        Dados cadastrais
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <%= form_for @pet, url: {action: "create"}, html: {class: "form"} do |f| %>
              <%= render partial: 'form', locals: { f: f } %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>