<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Encontrar uma ONG</h5>
        <p class="card-text">Acesse a área de ONGs para encontrar uma ONG e descobrir formas de colaborar.</p>
        <a href="<%= ngos_path %>" class="btn btn-primary">Ver ONGs</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Adote um amiguinho</h5>
        <p class="card-text">Acesse a área de adoções para encontrar um amiguinho para adoção agora mesmo.</p>
        <a href="/adocao" class="btn btn-primary">Ver Pets</a>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-home">
  <h1 class="display-4">Por uma boa causa</h1>
  <p class="lead">Para fazer do mundo um lugar melhor para todos.</p>
  <hr class="my-4">
  <p>Este é um projeto em desenvolvimento que tem como objetivo reunir e organizar as ações de todas as OSC (Organizações da Sociedade Civil) que atuam em causas sociais, ambientais e animais, resolvendo problemas e demandas em prol de todas as vidas do planeta.</p>
  <p>
    Em Junho de 2017, após tomar conhecimento da grave situação financeira da ONG Amigo Bicho de Içara, um grupo de jovens se reuniu com a OSC e fez um processo de diagnóstico e planejamento para encontrar uma solução definitiva para a organização de proteção animal, que desempenha um papel fundamental na cidade de Içara.
  </p>
</div>

<div class="jumbotron">
  <p class="lead">Consulte as <a href="<%= ngos_path %>">ONGs</a> cadastradas para fazer uma doação ou visite nossa galeria de <a href="/adocao">amiguinhos</a> disponíveis para adoção.</p>
</div>
