<div class="jumbotron">
  <h1>Oops.. Página não encontrada!</h1>
  <p>Certifique-se de que você digitou o endereço correto na URL ou volte para a <a href="<%=root_path%>">página inicial</a>.</p>
</div>