@import "../../variables/colors"
@import "../../variables/fonts"
@import "../../variables/sizes"

%message-shared
    font-family: $font-family
    border-radius: 2px
    top: auto
    bottom: 10px
    border: none
    box-shadow: none
    p
      margin: auto
      text-align: center

@mixin text-color($color)
    color: $color
    a
        color: $color !important

.DialogMessageNeutral
    @extend %message-shared
    @include text-color($darkFontColor)
    background: rgba($lightGrey, 0.6)

.DialogMessageError
    @extend %message-shared
    @include text-color(white)
    background: rgba($errorColor, 0.6)

.DialogMessageSuccess
    @extend %message-shared
    @include text-color($successDarkColor)
    background: rgba($successLightColor, 0.6)
