@import "../../variables/colors"
@import "../../variables/fonts"
@import "../../variables/sizes"

.UserSettings
  .configurationMenu
    font-family: $fontFamily
    font-weight: 500
    font-size: 18px
    line-height: 21px
    margin-left: 86px
    margin-bottom: 12px
    padding-top: 13px
    color: $darkFontColor

  .configurationMenuSelected
    background-color: $menuColorStronger
    height: 4px
    width: 160px
    position: absolute
    margin-left: 65px

  .formBox
    background-color: white
    width: 800px
    height: 530px
    margin: 80px auto
    border: 1px solid $lightGrey
    box-sizing: border-box
    border-radius: 5px
    display: flex
    flex-direction: column
    justify-content: space-between

  .titleBox
    height: 70px
    border-bottom: 1.2px solid $grey

  .title
    font-family: $fontFamily
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 23px
    color: $darkFontColor
    padding: 25px 50px

  .formTextInputs
    margin-top: 20px
    display: flex
    justify-content: space-evenly

  .textInput
    margin-bottom: 20px
    width: 300px

  .userPictureBox
    height: 80px

  .userPicture

  .submitBox
    border-top: 1.2px solid $grey
    height: 88px
    display: flex
    justify-content: flex-end
    padding-top: 20px
    padding-right: 60px

  .submitButton
    width: 170px

@media #{$tabletOrLess}
  .UserSettings
    .formTextInputs
      margin: 20px 30px
      display: flex
      flex-direction: column

    .formBox
      margin: 0
      width: auto
      height: auto

    .textInput
      width: auto

    .title
      text-align: center

    .submitBox
      justify-content: center
      padding-top: 20px
      padding-right: unset
      border-top: unset

    .submitButton
      width: 80%
