<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Conheça todos os pets para adoção.</h1>
    <p>Gostou de algum? Acesse este <a>link</a> para saber mais sobre a nossa política de adoção.</p>
  </div>
</div>
<div class="container">
  <div class="row">
  <% @pets.each do |pet| %>
    <div class="col-lg-4">
      <div class="card adoption-card">
        <%= image_tag pet.image.url(:medium) %>
        <div class="card-body">
          <h5 class="card-title"><%= pet.name %></h5>
          <p class="card-text"><%= pet.description %></p>
          <div class="card-footer text-muted">
          <%= pet.days_ago %>
          </div>
          <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>