.AdoptionList
  .adoptionCards
    display: flex
    justify-content: center
    flex-direction: row
    flex-wrap: wrap
    margin: 0 25px

  .fakeAdoptionCard
    height: 500px
    margin: 25px
    width: 300px
