//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import lumen variables
@import "bootswatch/lumen/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/lumen/bootswatch";

// Whatever application styles you have go last
// @import "base";
