@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 80px; }


.ngo-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding-left: 0px !important;
  height: 322px;
  margin-bottom: 30px;
  & .fantasy-name{
    padding-right: 20px;
    & .title {
        width:100%;
        height: 60px;
      & h1 {
          float:left;
          margin-top: 2px;
        }
      & .badge {
          margin:20px;
      }
    }
  }
}


.ngo-card-img {
  padding-left: 0px !important;
  max-width: 320px;
}

.jumbotron-home {
  margin-top: 30px;
  width: 100%;
}

.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.p-detail {
  margin-bottom: 0px;
}
.contact-detail {
  position:absolute;
  bottom:70px;
}

.detail{
  position:absolute;
  bottom:10px;
}