@import "../../variables/all"

.NgoList
  .titleBox
    @include align-horizontal-center
    margin-top: 60px
    max-width: 800px
    text-align: center

  .title
    font-family: $fontFamily
    font-size: 36px
    font-weight: 300
    color: $darkFontColor

  .subTitle
    font-family: $fontFamily
    font-size: 24px
    font-weight: 300
    color: $lightFontColor

  .ngoCards
    display: flex
    margin: 30px
