@import "../../variables/colors"
@import "../../variables/fonts"
@import "../../variables/sizes"

.HomePage
  .initialBox
    background-color: $menuColor
    width: 100%
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24)
    padding: 60px 140px 100px

  .insideBorder
    border: 4px solid white
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between

  .titleBox
    font-family: $font-family
    color: white
    margin-left: 80px

  .title
    text-transform: uppercase
    font-size: 36px

  .subtitle
    font-size: 18px
    font-weight: 400

  .petImages
    display: flex
    flex-direction: row
    justify-content: space-between

  .imageDog
    width: 200px
    height: 300px

  .imageCat
    width: 300px
    height: 300px

  @media #{$phone}
    .initialBox
      padding: 20px 40px 80px

    .titleBox
      margin-left: 20px

    .title
      font-size: 18px

    .subtitle
      font-size: 13px

    .imageDog
      width: 90px
      height: 160px

    .imageCat
      width: 140px
      height: 160px

